// out: ../js/app.css
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
*
    font-size: 12px;
    font-family: 'Alegreya Sans','Open Sans';
    font-weight: 300;
.fullHeight, #app
    height: 100vh;
.top
    margin-top: 40px;
